In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('COMP 1886 - Coursework dataset.csv')

# EDA Techniques: Data inspection, Univariate, Bivariate and Multivariate analysis to explore the dataset. Looking for outliers and the spread of data, this will help in knowing if data is spread evenly or is biased.

In [3]:
#Data Inspection
data.head()

,Region,SOC 2 digit code,SOC 2 digit label,Prioritise using SOC 2 as high or low,17-Jan,17-Feb,17-Mar,17-Apr,17-May,17-Jun,...,23-Nov,23-Dec,24-Jan,24-Feb,24-Mar,24-Apr,24-May,24-Jun,24-Jul,24-Aug
0,East Midlands,11,Corporate managers and directors,high,2315,1955.0,2380,1950.0,2210.0,2080,...,1500.0,1400,1850,1525,1540,1785.0,1870,1610,1830,1565
1,East Midlands,12,Other managers and proprietors,low,1420,1240.0,1465,1250.0,1475.0,1555,...,1020.0,915,1295,1105,1050,1350.0,1440,1330,1275,1295
2,East Midlands,21,"Science, research, engineering and technology ...",low,5010,4165.0,5170,4775.0,5130.0,4580,...,2445.0,2395,3045,2575,2510,2620.0,2635,2270,2315,2270
3,East Midlands,22,Health professionals,high,2565,2020.0,2670,2515.0,2890.0,2655,...,3300.0,2915,3380,2770,2845,3200.0,3260,2895,2965,2635
4,East Midlands,23,Teaching and other educational professionals,low,2075,1850.0,2160,1670.0,1940.0,2200,...,1700.0,1825,2135,2035,2270,2400.0,2805,2225,1945,1560

In [4]:
#243 rows and 96 columns
data.shape

(243, 96)

In [5]:
data.describe()

,17-Jan,17-Feb,17-Mar,17-Apr,17-May,17-Jun,17-Jul,17-Aug,17-Sep,17-Oct,...,23-Nov,23-Dec,24-Jan,24-Feb,24-Mar,24-Apr,24-May,24-Jun,24-Jul,24-Aug
count,243.000000,242.000000,243.000000,242.000000,241.000000,243.000000,243.000000,242.000000,243.000000,243.000000,...,242.000000,243.000000,243.000000,243.000000,243.000000,242.000000,243.000000,243.000000,243.000000,243.000000
mean,3602.798354,2998.161157,3721.646091,3322.500000,3602.593361,3820.534979,3014.855967,3084.256198,2960.370370,3009.032922,...,2386.694215,2161.790123,2890.061728,2423.477366,2375.493827,2840.516529,2999.794239,2674.444444,2779.670782,2525.329218
std,5116.986073,4050.109781,4913.648323,4330.203757,4632.923305,5029.753757,3894.348692,4014.044595,3834.929216,3996.884943,...,2611.252824,2461.885697,3118.164010,2569.860261,2421.253680,2802.025690,2888.035657,2543.547703,2618.224805,2370.837347
min,5.000000,5.000000,10.000000,10.000000,10.000000,10.000000,5.000000,5.000000,5.000000,5.000000,...,10.000000,5.000000,10.000000,10.000000,5.000000,10.000000,10.000000,10.000000,10.000000,5.000000
25%,830.000000,791.250000,1072.500000,906.250000,1015.000000,990.000000,830.000000,845.000000,815.000000,800.000000,...,635.000000,587.500000,817.500000,702.500000,692.500000,882.500000,952.500000,880.000000,912.500000,847.500000
50%,2215.000000,1845.000000,2385.000000,2122.500000,2320.000000,2370.000000,1925.000000,1935.000000,1835.000000,1900.000000,...,1622.500000,1290.000000,1870.000000,1635.000000,1645.000000,2095.000000,2325.000000,2090.000000,2200.000000,1930.000000
75%,4222.500000,3792.500000,4645.000000,4123.750000,4540.000000,4657.500000,3822.500000,3943.750000,3750.000000,3777.500000,...,3345.000000,3107.500000,4107.500000,3520.000000,3490.000000,4085.000000,4337.500000,3802.500000,3995.000000,3610.000000
max,42550.000000,32765.000000,40125.000000,34730.000000,36560.000000,41000.000000,31105.000000,31625.000000,30080.000000,30105.000000,...,17255.000000,16655.000000,20460.000000,17250.000000,15470.000000,17130.000000,17690.000000,15570.000000,15445.000000,14215.000000

In [6]:
print(data.dtypes)

Region                                    object
SOC 2 digit code                          object
SOC 2 digit label                         object
Prioritise using SOC 2 as high or low     object
17-Jan                                     int64
                                          ...
24-Apr                                   float64
24-May                                     int64
24-Jun                                     int64
24-Jul                                     int64
24-Aug                                     int64
Length: 96, dtype: object

In [7]:
data.info()
#there are some object datatypes in numerical column and have to be changed. This is due to the empty columns in the dataset, therefore we need to fill missing values before EDA can proceed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 96 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Region                                 243 non-null    object
 1   SOC 2 digit code                       243 non-null    object
 2   SOC 2 digit label                      243 non-null    object
 3   Prioritise using SOC 2 as high or low  214 non-null    object
 4   17-Jan                                 243 non-null    int64
 5   17-Feb                                 242 non-null    float64
 6   17-Mar                                 243 non-null    int64
 7   17-Apr                                 242 non-null    float64
 8   17-May                                 241 non-null    float64
 9   17-Jun                                 243 non-null    int64
 10  17-Jul                                 243 non-null    int64
 11  17-Aug                                 242 non-null    float64
 12  17-Sep                                 243 non-null    int64
 13  17-Oct                                 243 non-null    int64
 14  17-Nov                                 242 non-null    float64
 15  17-Dec                                 243 non-null    object
 16  18-Jan                                 243 non-null    int64
 17  18-Feb                                 243 non-null    int64
 18  18-Mar                                 243 non-null    int64
 19  18-Apr                                 240 non-null    float64
 20  18-May                                 243 non-null    int64
 21  18-Jun                                 243 non-null    int64
 22  18-Jul                                 243 non-null    int64
 23  18-Aug                                 243 non-null    int64
 24  18-Sep                                 242 non-null    float64
 25  18-Oct                                 243 non-null    int64
 26  18-Nov                                 243 non-null    int64
 27  18-Dec                                 243 non-null    int64
 28  19-Jan                                 243 non-null    int64
 29  19-Feb                                 243 non-null    int64
 30  19-Mar                                 242 non-null    float64
 31  19-Apr                                 243 non-null    int64
 32  19-May                                 243 non-null    int64
 33  19-Jun                                 242 non-null    float64
 34  19-Jul                                 243 non-null    int64
 35  19-Aug                                 243 non-null    int64
 36  19-Sep                                 243 non-null    int64
 37  19-Oct                                 242 non-null    float64
 38  19-Nov                                 243 non-null    int64
 39  19-Dec                                 243 non-null    int64
 40  20-Jan                                 243 non-null    int64
 41  20-Feb                                 242 non-null    float64
 42  20-Mar                                 243 non-null    int64
 43  20-Apr                                 243 non-null    object
 44  20-May                                 241 non-null    object
 45  20-Jun                                 243 non-null    object
 46  20-Jul                                 243 non-null    int64
 47  20-Aug                                 243 non-null    int64
 48  20-Sep                                 243 non-null    int64
 49  20-Oct                                 241 non-null    float64
 50  20-Nov                                 243 non-null    int64
 51  20-Dec                                 243 non-null    int64
 52  21-Jan                                 242 non-null    float64
 53  21-Feb                                 243 non-null    int64
 54  21-Mar                                 243 non-null    int64
 55  21-Apr                                 242 non-null    float64
 56  21-May                                 243 non-null    int64
 57  21-Jun                                 243 non-null    int64
 58  21-Jul                                 243 non-null    int64
 59  21-Aug                                 242 non-null    float64
 60  21-Sep                                 243 non-null    int64
 61  21-Oct                                 243 non-null    int64
 62  21-Nov                                 242 non-null    float64
 63  21-Dec                                 243 non-null    int64
 64  22-Jan                                 243 non-null    int64
 65  22-Feb                                 242 non-null    float64
 66  22-Mar                                 243 non-null    int64
 67  22-Apr                                 243 non-null    int64
 68  22-May                                 242 non-null    float64
 69  22-Jun                                 243 non-null    int64
 70  22-Jul                                 243 non-null    int64
 71  22-Aug                                 242 non-null    float64
 72  22-Sep                                 243 non-null    int64
 73  22-Oct                                 243 non-null    int64
 74  22-Nov                                 242 non-null    float64
 75  22-Dec                                 243 non-null    int64
 76  23-Jan                                 241 non-null    float64
 77  23-Feb                                 243 non-null    int64
 78  23-Mar                                 242 non-null    float64
 79  23-Apr                                 243 non-null    int64
 80  23-May                                 242 non-null    float64
 81  23-Jun                                 243 non-null    int64
 82  23-Jul                                 243 non-null    int64
 83  23-Aug                                 242 non-null    float64
 84  23-Sep                                 243 non-null    int64
 85  23-Oct                                 242 non-null    float64
 86  23-Nov                                 242 non-null    float64
 87  23-Dec                                 243 non-null    int64
 88  24-Jan                                 243 non-null    int64
 89  24-Feb                                 243 non-null    int64
 90  24-Mar                                 243 non-null    int64
 91  24-Apr                                 242 non-null    float64
 92  24-May                                 243 non-null    int64
 93  24-Jun                                 243 non-null    int64
 94  24-Jul                                 243 non-null    int64
 95  24-Aug                                 243 non-null    int64
dtypes: float64(27), int64(61), object(8)
memory usage: 182.4+ KB

In [8]:
east_midlands = data[data['Region'] == 'East Midlands'].loc[:, '17-Jan':'24-Aug'].sum()
plt.plot(east_midlands.index, east_midlands.values, marker='o')
plt.title('Monthly Trends in the East Midlands')
plt.xlabel('Time')
plt.ylabel('Advertisement Counts')
plt.xticks(rotation=45)
plt.show()

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Pre-processing begins here.

In [ ]:
# Create a copy of the original DataFrame
new_data = data.copy()

# List of columns you want to check and replace '[x]' with 0
columns_to_check = ['17-Dec', '20-Apr', '20-May', '20-Jun']  # Replace this with your specific columns

# Replace '[x]' with 0 in the specified columns of the new DataFrame
for col in columns_to_check:
    # Ensure the replacement is successful
    new_data[col] = new_data[col].replace('[x]', 0)

# Verify changes by displaying the updated columns
print(new_data[columns_to_check])

#save the new DataFrame to a CSV file, you can use:
new_data.to_csv('updated_data.csv', index=False)
#I replaced the [x] with 0, as it is logical, the dataset has both the [x] and empty datapoints so logically, i replaced the [x] with 0 and below, filled the empty with the mean of the column

In [ ]:
df=pd.read_csv('updated_data.csv')

In [ ]:
df.info()

In [ ]:
# Select all columns starting from the 5th column (index 4)
columns_to_fill = df.columns[4:]

# Fill empty (NaN) values with the mean of each column
for col in columns_to_fill:
    df[col] = df[col].fillna(df[col].mean())

# Save the updated DataFrame as a new DataFrame
new_df = df.copy()

# Display the new DataFrame
print(new_df)

In [ ]:
# Observations: All columns must have the same data type. (work on it in pre-procesing)

In [ ]:
#1.Replaced the empty columns with the mean of the column

In [ ]:
df.isnull().sum()

In [ ]:
null_counts = df.isnull().sum()
null_counts.to_csv("null_counts.csv", index=True)

#The columns for the months do not have so many missing values which will affect the dataset the 29 missing for high or low could be filled by clustering if possible

In [ ]:
#finding how many regions there are and their counts. This will help me know the spread of data
region_counts = df.iloc[:, 0].value_counts()
print('Number of unique values are', len(region_counts))
print('Unique values and their counts:')
print(region_counts)
#This looks balanced in terms of data spread

In [ ]:
# Finding how many SOC 2 digit labels are there and the count. This will help me know the spread of the dataset
unique_counts = df.iloc[:, 2].value_counts()
print('Number of unique values are', len(unique_counts))
print('Unique values and their counts:')
print(unique_counts)
#It looks quite balanced, all have 9 based on the regions

In [ ]:
#All nine regions have data for the 27 Job labels, further exploration is needed with plots.

In [ ]:
# Finding how many Prioritise using SOC 2 as high or low categories are there and the count. This will help me know the spread of the dataset between low and high
unique_counts = df.iloc[:, 3].value_counts()
print('Number of unique values are', len(unique_counts))
print('Unique values and their counts:')
print(unique_counts)
#It looks quite balanced, all 2 categories are quite well represented

In [ ]:
# Example: Null values heatmap
sns.heatmap(df.isnull(), cbar=False, cmap="viridis")
plt.title('Heatmap of Missing Values')
plt.show()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
#Compare how regions contribute to the overall dataset.
region_totals = df.groupby('Region').sum().loc[:, '17-Jan':'24-Aug']
region_totals.sum(axis=1).plot(kind='bar', figsize=(10, 6), color='royalblue')
plt.title('Total Contributions by Region')
plt.xlabel('Region')
plt.ylabel('Total Values')
plt.xticks(rotation=45)
plt.show()

In [ ]:
#Highlight the spread of values across SOC 2-digit labels.
melted_data = df.melt(id_vars=['SOC 2 digit label'], value_vars=data.columns[4:])
plt.figure(figsize=(12, 6))
sns.boxplot(x='SOC 2 digit label', y='value', data=melted_data)
plt.title('Distribution of Values Across SOC Labels')
plt.xticks(rotation=90)
plt.show()

In [ ]:
#Examine how values change for each region over time.
import seaborn as sns
region_time_data = df.groupby('Region').sum().loc[:, '17-Jan':'24-Aug']
sns.heatmap(region_time_data, cmap="YlGnBu", annot=False)
plt.title('Regional Trends Over Time')
plt.xlabel('Time')
plt.ylabel('Region')
plt.show()

In [ ]:
high_priority = df[df['Prioritise using SOC 2 as high or low'] == 'high'].loc[:, '17-Jan':'24-Aug'].sum()
low_priority = df[df['Prioritise using SOC 2 as high or low'] == 'low'].loc[:, '17-Jan':'24-Aug'].sum()

print(high_priority.head())
print(low_priority.head())

In [ ]:
#Explore the differences between "high" and "low" prioritization categories within regions or SOC labels.
# Sum values across columns for high and low prioritization
high_priority = df[df['Prioritise using SOC 2 as high or low'] == 'high'].loc[:, '17-Jan':'24-Aug'].sum()
low_priority = df[df['Prioritise using SOC 2 as high or low'] == 'low'].loc[:, '17-Jan':'24-Aug'].sum()

# Create a stacked area chart
plt.figure(figsize=(20, 12))
plt.stackplot(df.columns[4:], high_priority, low_priority, labels=['High Priority', 'Low Priority'])
plt.legend(loc='upper right')
plt.title('High vs Low Prioritization Over Time')
plt.xlabel('Time')
plt.ylabel('Total Values')
plt.xticks(rotation=45)
plt.show()

In [ ]:
print(df[df['Prioritise using SOC 2 as high or low'] == 'high'].head())
print(df[df['Prioritise using SOC 2 as high or low'] == 'low'].head())

In [ ]:
#Compare how SOC 2-digit labels vary across regions.
interaction_data = df.pivot_table(index='Region', columns='SOC 2 digit label', values='Total', aggfunc='sum')
sns.heatmap(interaction_data, cmap="coolwarm", annot=False)
plt.title('Region-SOC Label Interaction')
plt.xlabel('SOC Label')
plt.ylabel('Region')
plt.show()

In [ ]:
#Analyze time-series changes for individual SOC labels.
selected_label_data = df[df['SOC 2 digit label'] == '11'].loc[:, '17-Jan':'24-Aug']
plt.plot(selected_label_data.columns, selected_label_data.iloc[0])
plt.title('Time Trend for SOC Label 11 (Corporate Managers)')
plt.xlabel('Time')
plt.ylabel('Values')
plt.xticks(rotation=45)
plt.show()

In [15]:
import pandas as pd

# Load the dataset
data = pd.read_csv("new_data.csv")

# Frequency distribution for column D based on SOC 2 Digit Code
frequency_dist = data.groupby('SOC 2 digit code')['Prioritise using SOC 2 as high or low'].value_counts()

print(frequency_dist)

# Explore average monthly values for "high" vs "low" prioritization
monthly_columns = data.columns[4:]  # Select all monthly columns
summary_stats = data.groupby('Prioritise using SOC 2 as high or low')[monthly_columns].count()

print(summary_stats)

SOC 2 digit code  Prioritise using SOC 2 as high or low
11                low                                      4
                  high                                     3
12                low                                      6
                  high                                     3
21                high                                     5
                  low                                      2
22                high                                     7
                  low                                      1
23                low                                      7
                  high                                     2
24                high                                     6
                  low                                      2
31                low                                      4
                  high                                     3
32                high                                     6
                  low                                      2
33                high                                     5
                  low                                      3
34                high                                     5
                  low                                      3
35                low                                      5
                  high                                     3
41                low                                      5
                  high                                     3
42                low                                      4
                  high                                     2
51                low                                      4
                  high                                     2
52                low                                      6
                  high                                     2
53                low                                      4
                  high                                     3
54                low                                      7
                  high                                     1
61                low                                      5
                  high                                     4
62                high                                     4
                  low                                      4
63                low                                      5
                  high                                     3
71                low                                      5
                  high                                     4
72                high                                     6
                  low                                      3
81                low                                      6
                  high                                     3
82                high                                     6
                  low                                      2
91                high                                     6
                  low                                      2
92                low                                      5
                  high                                     4
Unknown           low                                      4
                  high                                     3
Name: count, dtype: int64
                                       17-Jan  17-Feb  17-Mar  17-Apr  17-May  \
Prioritise using SOC 2 as high or low
high                                      104     104     104     104     104
low                                       110     110     110     110     110

                                       17-Jun  17-Jul  17-Aug  17-Sep  17-Oct  \
Prioritise using SOC 2 as high or low
high                                      104     104     104     104     104
low                                       110     110     110     110     110

                                       ...  23-Nov  23-Dec  24-Jan  24-Feb  \
Prioritise using SOC 2 as high or low  ...
high                                   ...     104     104     104     104
low                                    ...     110     110     110     110

                                       24-Mar  24-Apr  24-May  24-Jun  24-Jul  \
Prioritise using SOC 2 as high or low
high                                      104     104     104     104     104
low                                       110     110     110     110     110

                                       24-Aug
Prioritise using SOC 2 as high or low
high                                      104
low                                       110

[2 rows x 92 columns]

In [12]:
# Analyze correlation between numeric features and column D
correlation_matrix = data.corr(numeric_only=True)
print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
          17-Jan    17-Feb    17-Mar    17-Apr    17-May    17-Jun    17-Jul  \
17-Jan  1.000000  0.996774  0.994637  0.992083  0.990027  0.984449  0.982328
17-Feb  0.996774  1.000000  0.997708  0.996390  0.994808  0.991877  0.988843
17-Mar  0.994637  0.997708  1.000000  0.997609  0.995791  0.993270  0.991763
17-Apr  0.992083  0.996390  0.997609  1.000000  0.998069  0.993530  0.994014
17-May  0.990027  0.994808  0.995791  0.998069  1.000000  0.992540  0.991485
...          ...       ...       ...       ...       ...       ...       ...
24-Apr  0.871982  0.891228  0.899426  0.903306  0.910136  0.916732  0.910640
24-May  0.857546  0.878224  0.887273  0.891154  0.899143  0.907590  0.899278
24-Jun  0.851153  0.872742  0.881709  0.885578  0.893406  0.903289  0.895137
24-Jul  0.847125  0.869164  0.880331  0.885109  0.892218  0.901687  0.898412
24-Aug  0.841447  0.863466  0.876167  0.883198  0.888221  0.899494  0.900648

          17-Aug    17-Sep    17-Oct  ...    23-Nov    23-Dec    24-Jan  \
17-Jan  0.984925  0.987182  0.987912  ...  0.927018  0.939611  0.925855
17-Feb  0.989647  0.992832  0.992656  ...  0.939720  0.950988  0.938566
17-Mar  0.992788  0.995146  0.992810  ...  0.944335  0.952488  0.943420
17-Apr  0.994621  0.996410  0.996243  ...  0.946081  0.955865  0.944615
17-May  0.992247  0.993865  0.993909  ...  0.951979  0.961552  0.950183
...          ...       ...       ...  ...       ...       ...       ...
24-Apr  0.901706  0.909375  0.894521  ...  0.980642  0.966966  0.985000
24-May  0.888566  0.897713  0.880892  ...  0.971958  0.955836  0.975700
24-Jun  0.883979  0.892956  0.875142  ...  0.968897  0.952137  0.972467
24-Jul  0.887993  0.894256  0.876668  ...  0.967743  0.947585  0.971418
24-Aug  0.890096  0.894370  0.876512  ...  0.956738  0.933797  0.959790

          24-Feb    24-Mar    24-Apr    24-May    24-Jun    24-Jul    24-Aug
17-Jan  0.915499  0.898250  0.871982  0.857546  0.851153  0.847125  0.841447
17-Feb  0.930123  0.915244  0.891228  0.878224  0.872742  0.869164  0.863466
17-Mar  0.936030  0.921011  0.899426  0.887273  0.881709  0.880331  0.876167
17-Apr  0.937488  0.924261  0.903306  0.891154  0.885578  0.885109  0.883198
17-May  0.943312  0.930849  0.910136  0.899143  0.893406  0.892218  0.888221
...          ...       ...       ...       ...       ...       ...       ...
24-Apr  0.991615  0.995340  1.000000  0.996633  0.995191  0.993520  0.984842
24-May  0.985184  0.991221  0.996633  1.000000  0.997988  0.994375  0.985115
24-Jun  0.982019  0.988763  0.995191  0.997988  1.000000  0.995778  0.986195
24-Jul  0.978710  0.984068  0.993520  0.994375  0.995778  1.000000  0.995106
24-Aug  0.966811  0.971783  0.984842  0.985115  0.986195  0.995106  1.000000

[92 rows x 92 columns]